doctype html
html
    head 
        title id pug
    body
        img(src = "/logo01.png", alt = "Testing Image")
        p This is pug text
        p Setting an id value using route value
        p Route value is #{name}